body{
	font-family: 'Roboto Condensed', sans-serif;	
}

a{
	color:#7A1D78;
}

h1{
	color:#7A1D78;
	padding-top:10px;
}

.navbar-default {
    background-color:#7A1D78;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.colour{
	color:#7A1D78;
	padding-top: 20px;
}

h5{
	font-weight:bold
}

h4{
	font-style:italic;
	padding-top:20px;
}

.padding{
	padding-top: 5px;
}

.instapadding{
	padding-top:15px;
}

#padding{
	padding-top:0px;
	padding-bottom:15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


#instapadding{
	padding-top:40px;
	padding-bottom:0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

